/*Author: TRE2019160
Course: CIS133DA
Section: # 24935
Lesson: 12
*/

/*
Incorrect Image path: Added Images/ into the path.
Also within the style sheet corrected 
missing semi colons, 
Corrected incorrect content such as bg for background, 
Fixed misspellings such as width.


*/
body {
    background-color: #eee; /*Fixed property name*/
    font-family: Ariel, sans-serif;
    font-size: 14px;
   color: #02333a; /*Adjusted color for accessibility*/
}

header { 
    width: 80%;
    padding: 20px 0px;
    margin: 0 auto;
    text-align: center;
}

main {
    width: 80%;
    padding: 30px 0px;
    margin: 0 auto;
}

nav a { /*Adjusted colors for accessibility*/
    margin: 10px;
    padding: 10px;
    background-color: #185f80;
    color: #ffffff;
    text-decoration: none;
}

h1,
h2,
h3 {
    font-family: Georgia, serif;
}

img {
    display: block;
    margin: auto;
    width: 300px;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid #000;/*Adjusted color for accessibility*/
    background-color: #ffffd9; /*Added semi-colon, adjusted color for accessibility*/ 
    border-collapse: collapse;
    padding: 10px;
}

th {
    background-color: #185f80;
    color: #ffffff; /*Added color for accessibility*/
}

footer {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: #185f80;
    padding: 20px;
    color: #FFF;
}

footer a {
    color: #000000; /*Added style for accessibility*/
}
